# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
packages/
AngularJS.Entities/bin
AngularJS.Entities/obj
AngularJS.Entities/AngularJS.Entities.csproj.user
AngularJS.Repository/bin
AngularJS.Repository/obj
AngularJS.Repository/AngularJS.Repository.csproj.user
AngularJS.Services/bin
AngularJS.Services/obj
AngularJS.Services/AngularJS.Services.csproj.user
AngularJS.Web/bin
AngularJS.Web/obj
AngularJS.Web/AngularJS.Web.csproj.user
AngularJS.Web/_bin_deployableAssemblies
AngularJS.Web/Content/kendo
AngularJS.Web/Scripts/kendo

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

