
@{
    ViewBag.Title = "Log in";
}

<h2>@ViewBag.Title.</h2>
<div class="row">
    <div class="col-md-8">
        <form class="form-login" role="form">
            <h2 class="form-login-heading">Login</h2>
            <input type="text" class="form-control" placeholder="Username" ng-model="loginData.userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" ng-model="loginData.password" required>
            <button class="btn btn-lg btn-info btn-block" type="submit" ng-click="login()">Login</button>
            <div data-ng-hide="message == ''" class="alert alert-danger">
                {{message}}
            </div>
        </form>
    </div>
</div>