
<div>
    <h2 ng-cloak>{{title}}</h2>

    <form name="claimForm" class="form-horizontal" novalidate>

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.buName.$invalid }">BU Name</label>
                <div class="col-md-4">
                    <select class="form-control input-sm" name="buName" ng-model="claim.buName" ng-options="bu as bu for bu in bus" required></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Participant</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="claim.participantClaim" placeholder="Participant Name">
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Unit Claim</label>
                <div class="col-md-4">
                    <select class="form-control input-sm" ng-model="claim.unitClaim" ng-options="unit.code as unit.value for unit in options.units"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">&zwnj;</label>
                <div class="col-md-4"></div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group" ng-class="{ 'has-error': claimForm.ftgProgramCode.$invalid }">
                <label class="col-md-2 control-label">FTG Program Code</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="ftgProgramCode" ng-model="claim.ftgProgramCode" placeholder="Program Code" required>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Vendor Program Code</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" ng-model="claim.vendorProgramCode" placeholder="MKT Code">
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Program Content</label>
                <div class="col-md-10">
                    <input type="text" class="form-control input-sm" ng-model="claim.programContent" placeholder="Code">
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.programType.$invalid }">Program Type</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="programType" ng-model="claim.programType" placeholder="Program Type" required>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.paymentMethod.$invalid }">Payment Method</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="paymentMethod" ng-model="claim.paymentMethod" placeholder="Payment Method" required>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.vendorName.$invalid }">Vendor Name</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="vendorName" ng-model="claim.vendorName" placeholder="Vendor Name" required>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.productLine.$invalid }">Product Line</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="productLine" ng-model="claim.productLine" placeholder="Product Line" required>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.startDate.$invalid }">Start Date</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" name="startDate" ng-model="claim.startDate" placeholder="Start Date" required datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.endDate.$invalid }">End Date</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" name="endDate" ng-model="claim.endDate" placeholder="End Date" required datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Deadline Claim</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input type="text" class="form-control input-sm" name="deadlineClaimDate" ng-model="claim.deadlineClaimDate" placeholder="Deadline Claim" datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Require Document</label>
                <div class="col-md-4">
                    <input type="checkbox" name="requireClaimDoc" ng-model="claim.requireClaimdoc" />
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Create</label>
                <div class="col-md-4">
                    <input type="text" class="form-control input-sm" name="createUser" ng-model="claim.createUser">
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">PrePaid</label>
                <div class="col-md-4">
                    <input type="checkbox" name="prePaid" ng-model="claim.prePaid" />
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-sm-2 control-label">&zwnj;</label>
                <div class="col-sm-10">
                    <a ng-show="actions.isSave" class="btn btn-default">Save</a>
                </div>
            </div>
        </div>
    </form>
    <hr />

    <tabset>
        <tab heading="CheckPoint & Requirement">
            <h5 ng-show="!claim.prePaid">CheckPoints</h5>
            <table class="table table-bordered table-hover no-border" ng-show="!claim.prePaid">
                <thead>
                    <tr style="font-weight: bold">
                        <td >Action</td>
                        <td style="width:150px">Check Date</td>
                        <td style="width:150px">Report Date</td>
                        <td style="width:100px"></td>
                    </tr>
                    <tr ng-form name="newCP" style="padding-bottom: 10px">
                        <th>
                            <div class="control-group" ng-class="{ 'has-error': newCP.action.$invalid }">
                                <input type="text" class="form-control input-sm" name="action" ng-model="cp2Add.action" required />
                            </div>
                        </th>
                        <th>
                            <div class="control-group input-group" ng-class="{'has-error': newCP.checkDate.$invalid }">
                                <input type="text" class="form-control input-sm" name="checkDate" ng-model="cp2Add.checkDate" datepicker-popup="yyyy-MM-dd" ng-required="true" datepicker-localdate />
                            </div>
                        </th>
                        <th>
                            <div class="control-group input-group" ng-class="{'has-error': newCP.reportDate.$invalid }">
                                <input type="text" class="form-control input-sm" name="reportDate" ng-model="cp2Add.reportDate" datepicker-popup="yyyy-MM-dd" ng-required="true" datepicker-localdate />
                            </div>
                        </th>
                        <th>
                            <div class="control-group">
                                <button type="submit" class="btn btn-success btn-sm" ng-click="addCheckPoint(cp2Add)" ng-disabled="newCP.$invalid"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cp in claim.checkPoints">
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="cp.action" ng-required="true" />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group">
                                <input type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="cp.checkDate" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group">
                                <input type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="cp.reportDate" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="removeCheckPoint(cp)"><i class="glyphicon glyphicon-minus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr ng-show="!claim.prePaid" />
			<h5>Requirements</h5>
			<table class="table table-bordered table-hover no-border">
                <thead>
                    <tr style="font-weight: bold">
                        <td style="width:15%">Name</td>
                        <td style="width:15%">Operation</td>
                        <td style="width:10%">Target</td>
                        <td style="width:150px">Report Date</td>
                        <td style="width:20%">Note</td>
                        <td style="width:100px"></td>
                    </tr>
                    <tr ng-form name="newReq" style="padding-bottom: 10px">
                        <th>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.name" required />
                            </div>
                        </th>
                        <th>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.operation" required />
                            </div>
                        </th>
                        <th>
                            <div class="control-group">
                                <input type="number" class="form-control input-sm" ng-model="req2Add.target" required />
                            </div>
                        </th>
                        <th>
                            <div class="control-group input-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.reportDate" datepicker-popup="yyyy-MM-dd" required datepicker-localdate />
                            </div>
                        </th>
                        <th>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.note" />
                            </div>
                        </th>
                        <th>
                            <div class="control-group">
                                <button type="submit" class="btn btn-success btn-sm" ng-click="addRequirement(req2Add)"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rq in claim.requirements">
                        <td>
                            <span editable-text="rq.name" e-required>{{rq.name || 'empty' }}</span>
                        </td>
                        <td>
                            <span editable-text="rq.operation" e-required>{{rq.operation || 'empty' }}</span>
                        </td>
                        <td>
                            <span editable-text="rq.target" e-required>{{rq.target | number:0 || 'empty' }}</span>
                        </td>
                        <td>
                            <span editable-bsdate="rq.reportDate" e-datepicker-popup="dd-MMMM-yyyy" e-required>{{rq.reportDate | date: "dd/MM/yyyy" || 'empty' }}</span>
                        </td>
                        <td>
                            <span editable-text="rq.note" e-required>{{rq.note || 'empty' }}</span>
                        </td>
                    </tr>
                </tbody>
			</table>
		</tab>
        <tab heading="Document">Content 2</tab>
    </tabset>
    
    <hr/>
    <div class="row">
        <button class="btn btn-primary" ng-click="createClaim()">Create</button>
    </div>

</div>