<style type="text/css">
    .custom-modal { 
	    display: block;
    }

    .pad { padding: 25px; }
</style>

<div>
    <h2 ng-cloak>{{title}}</h2>

    <form name="claimForm" class="form-horizontal" novalidate form-config config="objectConfig" read="read">

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.buName.$invalid }">BU Name</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.buName != null">{{claim.buName}}</label>
                    <select ng-show="read.buName == null" class="form-control input-sm" name="buName" ng-model="claim.buName" ng-options="bu as bu for bu in bus" required></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Participant</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.participantClaim != null">{{claim.participantClaim}}</label>
                    <select class="form-control input-sm" ng-show="read.participantClaim == null" ng-model="claim.participantClaim" ng-options="unit.code as unit.value for unit in options.participants"></select>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Unit Claim</label>
                <div class="col-md-4">
                    <select class="form-control input-sm" ng-model="claim.unitClaim" ng-options="unit.code as unit.value for unit in options.units"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">&zwnj;</label>
                <div class="col-md-4"></div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group" ng-class="{ 'has-error': claimForm.ftgProgramCode.$invalid }">
                <label class="col-md-2 control-label">FTG Program Code</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.ftgProgramCode != null">{{claim.ftgProgramCode}}</label>
                    <input type="text" class="form-control input-sm" ng-show="read.ftgProgramCode == null" name="ftgProgramCode" ng-model="claim.ftgProgramCode" placeholder="Program Code" required>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Vendor Program Code</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.vendorProgramCode != null">{{claim.vendorProgramCode}}</label>
                    <input type="text" class="form-control input-sm" ng-show="read.vendorProgramCode == null" name="vendorProgramCode" ng-model="claim.vendorProgramCode" placeholder="MKT Code">
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Program Name</label>
                <div class="col-md-10">
                    <label class="control-label" ng-show="read.programName != null">{{claim.programName}}</label>
                    <input type="text" class="form-control input-sm" ng-show="read.programName == null" name="programName" ng-model="claim.programName" placeholder="Program Name">
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.programType.$invalid }">Program Type</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.programType != null">{{claim.programType}}</label>
                    <select class="form-control input-sm" ng-show="read.programType == null" name="programType" ng-model="claim.programType" ng-options="unit.value as unit.value for unit in options.programTypes"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.paymentMethod.$invalid }">Payment Method</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.paymentMethod != null">{{claim.paymentMethod}}</label>
                    <select class="form-control input-sm" ng-show="read.paymentMethod == null" name="paymentMethod" ng-model="claim.paymentMethod" ng-options="unit.value as unit.value for unit in options.paymentMethods"></select>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.vendorName.$invalid }">Vendor Name</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.vendorName != null">{{claim.vendorName}}</label>
                    <select class="form-control input-sm" ng-show="read.vendorName == null" name="vendorName" ng-model="claim.vendorName" ng-options="unit.vendorShortName as unit.vendorShortName for unit in options.vendors"></select>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.productLine.$invalid }">Product Line</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.productLine != null">{{claim.productLine}}</label>
                    <select class="form-control input-sm" ng-show="read.productLine == null" ng-model="claim.productLine" ng-options="unit.productLineName as unit.productLineName for unit in options.productLines"></select>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.startDate.$invalid }">Start Date</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.startDate != null">{{claim.startDate | date:'yyyy-MM-dd'}}</label>
                    <p class="input-group input-group-sm" ng-show="read.startDate == null">
                        <input type="text" class="form-control input-sm" name="startDate" ng-model="claim.startDate" placeholder="Start Date" required datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label" ng-class="{ 'has-error': claimForm.endDate.$invalid }">End Date</label>
                <div class="col-md-4">
                    <p class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm" name="endDate" ng-model="claim.endDate" placeholder="End Date" required datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Deadline Claim</label>
                <div class="col-md-4">
                    <p class="input-group input-group-sm">
                        <input type="text" class="form-control input-sm" name="claimDeadlineDate" ng-model="claim.claimDeadlineDate" placeholder="Deadline Claim" datepicker-popup="yyyy-MM-dd" datepicker-localdate>
                    </p>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Require Document</label>
                <div class="col-md-4">
                    <input type="checkbox" name="requireClaimDoc" ng-model="claim.requireClaimdoc" />
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Create</label>
                <div class="col-md-4">
                    <label>{{claim.createUser}}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">PrePaid</label>
                <div class="col-md-4">
                    <input type="checkbox" name="prePaid" ng-model="claim.prePaid" />
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Status</label>
                <div class="col-md-4">
                    <label>{{claim.status}}</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="control-group">
                <label class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    <textarea style="width: 100%" ng-model="claim.note" />
                </div>
            </div>
        </div>
    </form>
    <hr />

    <div ng-show="claim.statusID > 13">
        <h4>Claim Information</h4>

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Currency Unit</label>
                <div class="col-md-4">
                    <label class="control-label">{{claim.currencyUnit}}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Exchange Rate</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.exchangeRate != null">{{claim.exchangeRate | number}}</label>
                    <input class="form-control input-sm" ng-show="read.exchangeRate == null" name="exchangeRate" ng-model="claim.exchangeRate" />
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Submit Claim Amount</label>
                <div class="col-md-4">
                    <label class="control-label">{{claim.submitClaimAmount | number}}</label>
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Submit Claim Date</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.submitClaimDate != null">{{claim.submitClaimDate | date:'yyyy-MM-dd'}}</label>
                    <p class="input-group input-group-sm">
                        <input class="form-control input-sm" ng-show="read.submitClaimDate == null" name="submitClaimDate" ng-model="claim.submitClaimDate" datepicker-popup="yyyy-MM-dd" datepicker-localdate />
                    </p>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Submit Claim Amount (VND)</label>
                <div class="col-md-4">
                    <label class="control-label">{{claim.submitClaimAmount * claim.exchangeRate | number}}</label>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Vendor Confirm Amount</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.vendorConfirmAmount != null">{{claim.vendorConfirmAmount | number}}</label>
                    <input class="form-control input-sm" ng-show="read.vendorConfirmAmount == null" name="vendorConfirmAmount" ng-model="claim.vendorConfirmAmount" />
                </div>
            </div>
            <div class="control-group">
                <label class="col-md-2 control-label">Vendor Confirm Date</label>
                <div class="col-md-4">
                    <label class="control-label" ng-show="read.vendorConfirmDate != null">{{claim.vendorConfirmDate | date:'yyyy-MM-dd'}}</label>
                    <p class="input-group input-group-sm">
                        <input class="form-control input-sm" ng-show="read.vendorConfirmDate == null" name="vendorConfirmDate" ng-model="claim.vendorConfirmDate" datepicker-popup="yyyy-MM-dd" datepicker-localdate />
                    </p>
                </div>
            </div>
        </div> <!-- class="row" -->

        <div class="row">
            <div class="control-group">
                <label class="col-md-2 control-label">Vendor Confirm Amount (VND)</label>
                <div class="col-md-4">
                    <label class="control-label">{{claim.vendorConfirmAmount * claim.exchangeRate | number}}</label>
                </div>
            </div>
        </div> <!-- class="row" -->

        <hr />
    </div>

    <!-- ****************************************************************************************************************** -->

    <tabset>
        <tab heading="Details" ng-if="read.checkPoints == null || read.requirements == null">
            <div class="row">
                <div class="control-group">
                    <label class="col-sm-2 control-label">Program Content</label>
                    <div class="col-sm-10">
                        <textarea style="width: 100%" ng-model="claim.programContent" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Currency Unit</label>
                    <div class="col-md-4">
                        <label class="control-label" ng-show="read.currencyUnit != null">{{claim.currencyUnit}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.currencyUnit == null" ng-model="claim.currencyUnit" name="currencyUnit" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Exchange Rate</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-sm" name="exchangeRate" ng-model="claim.exchangeRate" />
                    </div>
                </div>
            </div> <!-- class="row" -->

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Amount</label>
                    <div class="col-md-4">
                        <label ng-show="read.promiseAmount != null">{{claim.promiseAmount | number}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.promiseAmount == null" name="promiseAmount" ng-model="claim.promiseAmount" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Amount</label>
                    <div class="col-md-4">
                        <label>{{claim.promiseAmount * claim.exchangeRate | number}}</label>
                        @*<input type="text" class="form-control input-sm" name="promiseAmount" ng-model="claim.promiseAmount" />*@
                    </div>
                </div>
            </div> <!-- class="row" -->

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Date</label>
                    <div class="col-md-4">
                        <label ng-show="read.promiseDate != null">{{claim.promiseDate | date: 'yyyy-MM-dd'}}</label>
                        <p class="input-group input-group-sm" ng-show="read.promiseDate == null">
                            <input type="text" class="form-control input-sm" name="promiseDate" ng-model="claim.promiseDate" datepicker-popup="yyyy-MM-dd" datepicker-localdate />
                        </p>
                    </div>
                </div>
            </div> <!-- class="row" -->

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Curent Claim Available Amount</label>
                    <div class="col-md-4">
                        <label ng-show="read.currentAvailableAmount != null">{{claim.currentAvailableAmount | number}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.currentAvailableAmount == null" name="currentAvailableAmount" ng-model="claim.currentAvailableAmount" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Curent Claim Available Amount (VND)</label>
                    <div class="col-md-4">
                        <label>{{claim.currentAvailableAmount * claim.exchangeRate | number}}</label>
                        @*<input type="text" class="form-control input-sm" name="promiseAmount" ng-model="claim.promiseAmount" />*@
                    </div>
                </div>
            </div> <!-- class="row" -->

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Submit Claim Amount</label>
                    <div class="col-md-4">
                        <label ng-show="read.claimAmount != null">{{claim.submitClaimAmount}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.submitClaimAmount == null" name="submitClaimAmount" ng-model="claim.submitClaimAmount" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Submit Claim Amount (VND)</label>
                    <div class="col-md-4">
                        <label>{{claim.submitClaimAmount * claim.exchangeRate | number}}</label>
                        @*<input type="text" class="form-control input-sm" name="promiseAmount" ng-model="claim.promiseAmount" />*@
                    </div>
                </div>
            </div> <!-- class="row" -->
            <!-- ****************************************************************************************************************** -->

            <h5 ng-show="!claim.prePaid && claim.statusID < 13">CheckPoints</h5>
            <button class="btn btn-primary" ng-click="createCheckpoint()" ng-show="!claim.prePaid && claim.statusID == 0">Create Checkpoint by Start Date and End Date</button>
            <table class="table table-bordered no-border" ng-show="!claim.prePaid && claim.statusID < 13">
                <thead>
                    <tr style="font-weight: bold">
                        <th>Action</th>
                        <th style="width:150px">Check Date</th>
                        <th style="width:150px">Report Date</th>
                        <th style="max-width:100px"></th>
                    </tr>
                    <tr ng-form name="newCP" style="padding-bottom: 10px" ng-show="read.checkpoints == null">
                        <td>
                            <div class="control-group" ng-class="{ 'has-error': newCP.action.$invalid }">
                                <input type="text" class="form-control input-sm" name="action" ng-model="cp2Add.action" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group" ng-class="{'has-error': newCP.checkDate.$invalid }">
                                <input type="text" class="form-control input-sm" name="checkDate" ng-model="cp2Add.checkDate" datepicker-popup="yyyy-MM-dd" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group" ng-class="{'has-error': newCP.reportDate.$invalid }">
                                <input type="text" class="form-control input-sm" name="reportDate" ng-model="cp2Add.reportDate" datepicker-popup="yyyy-MM-dd" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <button type="submit" class="btn btn-success btn-sm" ng-click="addCheckPoint(cp2Add)" ng-disabled="newCP.$invalid"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="cp in claim.checkPoints">
                        <td>
                            <div class="control-group">
                                <label ng-show="read.checkpoints != null">{{cp.action}}</label>
                                <input ng-show="read.checkpoints == null" type="text" class="form-control input-sm" ng-model="cp.action" ng-required="true" />
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <label ng-show="read.checkpoints != null">{{cp.checkDate | date: 'yyyy-MM-dd'}}</label>
                                <input ng-show="read.checkpoints == null" type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="cp.checkDate" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="input-group input-group-sm">
                                <label ng-show="read.checkpoints != null">{{cp.reportDate | date: 'yyyy-MM-dd'}}</label>
                                <input ng-show="read.checkpoints == null" type="text" class="form-control input-sm" datepicker-popup="yyyy-MM-dd" ng-model="cp.reportDate" ng-required="true" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-sm" ng-click="removeCheckPoint(cp)"><i class="glyphicon glyphicon-minus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <hr ng-show="!claim.prePaid" />

            <!-- ****************************************************************************************************************** -->

            <h5>Requirements</h5>
            <table class="table table-bordered table-hover no-border">
                <thead>
                    <tr style="font-weight: bold">
                        <th style="width:15%">Name</th>
                        <th style="width:15%">Operation</th>
                        <th style="width:10%">Target</th>
                        <th style="width:150px">Report Date</th>
                        <th style="width:20%">Note</th>
                        <th style="width:100px"></th>
                    </tr>
                    <tr ng-form name="newReq" style="padding-bottom: 10px">
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.name" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.operation" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.target" required fsca-number />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.reportDate" datepicker-popup="yyyy-MM-dd" required datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="req2Add.note" />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <button type="submit" class="btn btn-success btn-sm" ng-click="addRequirement(req2Add)"><i class="glyphicon glyphicon-plus"></i></button>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rq in claim.requirements">
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="rq.name" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="rq.operation" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="rq.target" required fsca-number />
                            </div>
                        </td>
                        <td>
                            <div class="control-group input-group">
                                <input type="text" class="form-group input-sm" ng-model="rq.reportDate" required datepicker-popup="yyyy-MM-dd" datepicker-localdate />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="rq.note" />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <button type="submit" class="btn btn-danger btn-sm" ng-click="removeRequirement(rq)"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>

        <!-- ****************************************************************************************************************** -->

        <tab heading="Payment & Allocation" active="tab.active" ng-if="claim.statusID > 14">
            <div class="row">
                <div class="control-group">
                    <label class="col-sm-2 control-label">Program Content</label>
                    <div class="col-sm-10">
                        <textarea style="width: 100%" ng-model="claim.programContent" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Currency Unit</label>
                    <div class="col-md-4">
                        <label class="control-label" ng-show="read.currencyUnit != null">{{claim.currencyUnit}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.currencyUnit == null" ng-model="claim.currencyUnit" name="currencyUnit" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Exchange Rate</label>
                    <div class="col-md-4">
                        <label class="control-label" ng-show="read.exchangeRate != null">{{claim.exchangeRate}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.exchangeRate == null" name="exchangeRate" ng-model="claim.exchangeRate" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Amount</label>
                    <div class="col-md-4">
                        <label class="control-label" ng-show="read.promiseAmount != null">{{claim.promiseAmount}}</label>
                        <input type="text" class="form-control input-sm" ng-show="read.promiseAmount == null" ng-model="claim.promiseAmount" name="promiseAmount" />
                    </div>
                </div>
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Amount (VND)</label>
                    <div class="col-md-4">
                        <label class="control-label">{{claim.promiseAmount * claim.exchangeRate | number}}</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="control-group">
                    <label class="col-md-2 control-label">Promise Date</label>
                    <div class="col-md-4">
                        <label class="control-label" ng-show="read.promiseDate != null">{{claim.promiseDate | date:'yyyy-MM-dd'}}</label>
                        <p class="input-group input-group-sm">
                            <input type="text" class="form-control input-sm" ng-show="read.promiseDate == null" ng-model="claim.promiseDate" name="promiseDate" datepicker-popup="yyyy-MM-dd" datepicker-localdate />
                        </p>
                    </div>
                </div>

            </div>

            <h4>Payment</h4>
            <button class="btn btn-primary" ng-click="editPayment()" ng-if="actions.pm_add"><i class="glyphicon glyphicon-plus"></i></button>
            <table class="table table-bordered no-border">
                <thead>
                    <tr>
                        <th>Invoice Code</th>
                        <th>Payment Date</th>
                        <th>Exchange Rate</th>
                        <th>Payment Amount</th>
                        <th>Payment (VND)</th>
                        <th>Note</th>
                        <th style="max-width: 100px;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="pm in claim.payments">
                        <td>{{pm.invoiceCode}}</td>
                        <td>{{pm.paymentDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{pm.exchangeRate | number}}</td>
                        <td>{{pm.vendorPayment | number}}</td>
                        <td>{{pm.vendorPayment * pm.exchangeRate | number}}</td>
                        <td>{{pm.note}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="editPayment(pm)" ng-if="actions.pm_edit"><i class="glyphicon glyphicon-list"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="removePayment(pm)" ng-if="actions.pm_delete"><i class="glyphicon glyphicon-minus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <!-- ****************************************************************************************************************** -->

            <h4>Allocation</h4>
            <button class="btn btn-primary" ng-click="editAllocation()" ng-if="actions.aloc_add"><i class="glyphicon glyphicon-plus"></i></button>
            <table class="table table-bordered no-border">
                <thead>
                    <tr>
                        <th>Area Allocate</th>
                        <th>Invoice Code</th>
                        <th>Participant</th>
                        <th>Criteria</th>
                        <th>Note Calculate</th>
                        <th>Program Code</th>
                        <th>FAF Date</th>
                        <th>Actual Date</th>
                        <th>Allocate Amount (VND)</th>
                        <th>Caculate Amount (VND)</th>
                        <th>Actual Amount (VND)</th>
                        <th>Remain Amount (VND)</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="a in claim.allocations">
                        <td>{{a.areaAllocate}}</td>
                        <td>{{a.invoiceCode}}</td>
                        <td>{{a.participant}}</td>
                        <td>{{a.criteria}}</td>
                        <td>{{a.noteCalculate}}</td>
                        <td>{{a.programCode}}</td>
                        <td>{{a.fafDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{a.actualDate | date:'yyyy-MM-dd'}}</td>
                        <td>{{a.allocateAmount | number}}</td>
                        <td>{{a.calculateAmount | number}}</td>
                        <td>{{a.actualAmount | number}}</td>
                        <td>{{a.allocateAmount - a.calculateAmount - a.actualAmount | number}}</td>
                        <td>
                            <button class="btn btn-primary btn-sm" ng-click="editAllocation(a)" ng-if="actions.aloc_edit"><i class="glyphicon glyphicon-list"></i></button>
                            <button class="btn btn-danger btn-sm" ng-click="removeAllocation(a)" ng-if="actions.aloc_delete"><i class="glyphicon glyphicon-minus"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </tab>

        <tab heading="Documents">
            <br />
            <button class="btn btn-success" ngf-select ng-model="uploadFiles" ngf-change="fileSelected($files, $event)" multiple="true">
                Upload
            </button>
            <table class="table table-bordered table-hover table-condensed no-border">
                <thead>
                    <tr>
                        <th style="width: 20%">File Name</th>
                        <th style="width: 25%">File Type</th>
                        <th style="width: 25%">Status</th>
                        <th style="width: 150px"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="file in claim.documents">
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="file.fileName" required />
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <input type="text" class="form-control input-sm" ng-model="file.fileType" />
                            </div>
                        </td>
                        <td style="vertical-align: middle">
                            <div class="control-group">
                                <progressbar class="progress-striped progress-in-table" value="file.progress" type="warning">{{file.progress}}%</progressbar>
                            </div>
                        </td>
                        <td>
                            <div class="control-group">
                                <button class="btn btn-danger btn-sm" ng-show="file.id != null" ng-click="removeFile(file)"><i class="glyphicon glyphicon-minus"></i></button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </tab>

        <tab heading="Comments" ng-show="claim.claimId != null && claim.claimId != 0">
            <br />

        </tab>
    </tabset>

    <hr />
    <div class="row">
        <button class="btn btn-primary" ng-show="actions.create" ng-click="createClaim()">Create</button>
        <button class="btn btn-primary" ng-show="actions.save" ng-click="saveClaim()">Save</button>
        <button class="btn btn-primary" ng-show="actions.submit" ng-click="submitClaim()">Submit</button>
        <button class="btn btn-danger" ng-show="actions.delete" ng-click="deleteClaim()">Delete</button>
        <button class="btn btn-success" ng-show="actions.approve" ng-click="approveClaim()">Approve</button>
        <button class="btn btn-warning" ng-show="actions.deny" ng-click="denyClaim()">Deny</button>
    </div>
</div>