
<table class="my-menu-outer table-nested">
    <thead>
        <tr>
            <th class="cell-input">
                <input type="checkbox" ng-checked="(menu | selected).length == menu.length" ng-click="toggleAllCheckboxes($event)">
            </th>
            <th class="cell-name">Name</th>
            <th>Title</th>
            <th>Href</th>
            <th>Member</th>
            <th>Match Route</th>
        </tr>
    </thead>
    <tbody ng-class="{opened: item.opened}" ng-repeat="item in menu" ng-include="'table_tree.html'"></tbody>
</table>


<script type="text/ng-template" id="table_tree.html">
    <tr ng-class="{parent: item.children}" ng-init="parentScope = $parent.$parent; initCheckbox(item, parentScope.item)">
        <td class="cell-input">
            <input type="checkbox" ng-model="item.selected" ng-change="toggleCheckbox(item, parentScope)">
        </td>
        <td class="cell-name" ng-click="item.opened = !item.opened">
            <div class="indent" style="padding-left: {{15*level}}px;"></div>
            {{item.title}}
        </td>
        <td>{{item.title}}</td>
        <td>{{item.href}}</td>
        <td>{{item.children.length}}</td>
        <td>{{item.route}}</td>
    </tr>
    <tr class="children" ng-if="item.children && item.children.length > 0">
        <td colspan="5">
            <table class="my-menu-outer">
                <tbody ng-class="{opened: item.opened}" ng-repeat="item in item.children" ng-include="'table_tree.html'" ng-init="level=level+1"></tbody>
            </table>
        </td>
    </tr>
</script>