<h2>Menu Management</h2>

<div class="row">
    <div class="btn-group btn-group-justified">
        <label ng-repeat="tp in types" class="btn btn-primary" ng-model="$parent.type" btn-radio="tp.data" ng-click="changeType()">{{tp.vis}}</label>
    </div>
</div><br />

<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <ui-select ng-model="selected.user" theme="bootstrap" on-select="loadMenu($item.id, 0)" ng-disabled="type != 'user'">
            <ui-select-match placeholder="Select an user to view/edit ...">{{$select.selected.userName}}</ui-select-match>
            <ui-select-choices repeat="user in users | propsFilter: {userName: $select.search, email: $select.search}">
                <div ng-bind-html="user.userName | highlight: $select.search"></div>
                <small>
                    email: {{user.email}}
                </small>
            </ui-select-choices>
        </ui-select>
    </div>

    <div class="col-md-4 col-md-offset-2">
        <ui-select ng-model="selected.role" theme="bootstrap" on-select="loadMenu(0, $item.id)" ng-disabled="type != 'role'">
            <ui-select-match placeholder="Select a role to view/edit ...">{{$select.selected.name}}</ui-select-match>
            <ui-select-choices repeat="role in roles | propsFilter: {name: $select.search}">
                <div ng-bind-html="role.name | highlight: $select.search"></div>
                <small>
                    description: {{role.description}}
                </small>
            </ui-select-choices>
        </ui-select>
    </div>
</div><br />
    
<div class="row">
    <div class="col-md-12">
        <ng-menu-table menu="all-menu" selected-id="selectedMenu"></ng-menu-table>
    </div>
</div><br />

<hr />
<div class="row">
    <button class="btn btn-primary" ng-click="saveMenu()" ng-disabled="selected.user == undefined && selected.role == undefined">Save</button>
</div>