<div class="modal-header">
    <h4 class="modal-title">Login</h4>
</div>
<div class="modal-body">
    <form name="loginForm" ng-submit="login()" novalidate>
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="control-label">User Name</label>
                <input type="text" class="input form-control" ng-model="credentials.userName" required autofocus/>
            </div>
            </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label class="control-label">Password</label>
                <input type="password" class="input form-control" ng-model="credentials.password" required />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div ng-hide="message == ''" class="alert alert-danger">
                    {{message}}
                </div>
            </div>
        </div>

        <hr />
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>