<h1>Template heading</h1>

<div class="dialog-contents">
    <div class="container">
        <input type="text" class="input input-sm" ng-model="pm.invoiceCode" />
        <input type="text" class="input input-sm input-group-sm" ng-model="pm.paymentDate" />
        <input type="text" class="input input-sm" ng-model="pm.exchangeRate" />
        <input type="text" class="input input-sm" ng-model="pm.vendorPayment" />
        <input type="text" class="input input-sm" ng--model="Note" />
        <hr />
        <button class="btn btn-primary" ng-click="addPayment_2()"><i class="glyphicon-plus">Add</i></button>
        <button class="btn" ng-click="scope.closeThisDialog()"><i class="glyphicon-plus">Cancel</i></button>
    </div>
</div>